@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light only;
}

body {
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
}

.no-scrollbar {
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}

